
.mainScreen {
    min-height: 100vh;
    text-align: center;
}

.mainScreen h1 {
    color: #fff;
    margin-bottom: 1.5em;
}

.userDetailsContainer {
    position: relative;
    display: flex;
    justify-content: center;
    background: linear-gradient(#ffffff, #d4d7db, #ffffff);
    gap: 4em;
    border-radius: 0.4em;
}

.leftPart {
    display: flex;
    flex-direction: column;
    padding: 2em;
}

.userImageSettings {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imageContainer {
    display: block;
    border-radius: 50%;
    overflow: hidden;
    width: 12em;
    height: 12em;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

}

.imageContainer img {
    display: block;
    width: 100%;
}

.immutableData ul {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1em;
}

.rightPart {
    padding: 2em 4em 2em 0;
    width: 32em;
}

.rightPart .editUserForm {
    display: flex;
    flex-direction: column;
    gap: 2em;
    max-width: 600px;
}

.formGroup {
    text-align: start;
}

.formControl {
    width: 100%;
    padding: 1em 1em 1em 0.5em;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    transition: border-color 0.3s;
}

.label {
    display: block;
    color: #333;
    font-size: 16px;
    font-weight: 600;
    margin: 0.3em 0.2em;
}

input {
    padding: 0.5em 1em 0.5em 0;
    font-size: 1.2em;
}

.buttonHolder {
    display: flex;
    justify-content: space-around;
}

.btn {
    display: block;
    padding: 0.5em 1em;
    text-align: center;
    font-size: 1.2em;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 0.3em;
    border: none;
}

.btn:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.addImageBtn {background-image: linear-gradient(to right, #2C3E50 0%, #4CA1AF  51%, #2C3E50  100%)}
.btnEdit {
    padding: 0.5em 1.5em;
    letter-spacing: 2px;
    background-image: linear-gradient(to right, #2C3E50 0%, #4CA1AF  51%, #2C3E50  100%);
}
.btnSave {
    letter-spacing: 2px;
    padding: 0.5em 1.4em;
    background-image: linear-gradient(to right, #56ab2f 0%, #a8e063  51%, #56ab2f  100%);
}
.btnCancel {background-image: linear-gradient(to right, #ff4b1f 0%, #ff9068  51%, #ff4b1f  100%)}
.changePassBtn {background-image: linear-gradient(to right, #2C3E50 0%, #4CA1AF  51%, #2C3E50  100%)}
.deleteBtn {background-image: linear-gradient(to right, #5f3f3f 0%, #e74c3c  51%, #5f3f3f  100%)}

.btn.addImageBtn {
    margin: 1em 0;
    padding: 0.5em 1.8em;
    letter-spacing: 1px;
}

.btn.deleteBtn {
    margin-top: 7.3em;
}

.xBtn {
    position: absolute;
    left: 0;
    top: 0;
    margin: 1em 0 0 1em;
    padding: 0.05em 0.24em;
    border: none;
    background-color: transparent;
}

.xBtn:hover {
    cursor: pointer;
}