
.bookingTimeBtn {background-image: linear-gradient(to right, #ff4b1f 0%, #fcaa8c  51%, #ff4b1f  100%)}
.bookingTimeBtn {
    margin: 1em 0.8em 1em 0;
    padding: 0.7em 1em;
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: #000;            
    box-shadow: 0 0 10px #eee;
    border-radius: 0.25em;
    border: 0 none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    flex: none;
 }

 .bookingTimeBtn:hover {
   background-position: right center;
   color: #777;
   text-decoration: none;
   cursor: pointer;
 }


.movieImage {
    position: relative;
}

.movieImage:hover {
    cursor: pointer;
}

.movieImage::after {
    position: absolute;
    content: "";
    left: 25%;
    top: 30%;
    width: 50%;
    height: 50%;
    background-image: url(/images/icons/play-arrow-white-circle-solid.png);
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
}

.movieImage:hover::after {
    opacity: 0.5; 
}