@media screen and (max-width: 600px) {
    html, body {
        max-width: 599px;
        min-width: auto;
    }
    
    body {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 100%;
        line-height: 1em;
        color: #969393;
        background: none;
    }

    #main {
        display: flex;
        font-size: 0.875em;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        width: auto;
    }

    .language {
        display: none;
    }
    header#nav {
        position: relative;
        width: auto;
    }

    #header .row-1 {
        display: flex;
    }

    #header .row-2 {
        display: flex;
        flex-direction: column;
    }

    #header .row-2 ul {
        position: static;
        top: auto;
        right: auto;
        box-shadow: none;
        z-index: auto;
        display: block;
        flex-direction: column;
        width: auto;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-in-out;
        background-color: black;
    }
    #header .row-2 ul.mobile-nav-active {
        min-height: 51px;
        height: auto;
        width: auto;
        display: flex;
        flex-direction: column;
        z-index: 20000;
    }
    #header .row-2 ul li {
        border-bottom: 1px solid #333;
        text-align: right;
    }
    #header .row-2 ul li:last-child {
        border-bottom: none;
    }
    #header .row-2 ul li a {
        color: #ff9800;
        text-decoration: none;
        display: block;
    }

    .icon-menu {
        position: absolute;
        top: 23%;
        right: 3%;
        display: block;
        border: 1px solid #fff;
        border-radius: 1em;
        padding: 0.6em 1em;
    }

    .icon-menu .fa-bars {
        display: block;
       font-size: 2.4em;
    }


    #slogan {
        width: auto;
        border-radius: 0.7em;
    }

    #slogan .image {
        display: none;
    }

    .box {
        background: #000;
        width: auto;
    }

    .movies {
        width: auto;
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        flex-direction: column;
        align-content: center;
    }

    #movie-app{
        margin: 0;
    }

    .movies li img {
        position: relative;
        width: 100%;
        height: auto;
    }

    .movies li p {
        padding-right: 0;
    }

    .link2 {
        display: block;
        padding: 0.2em 0.7em;
    }

    .content-section {
        height: auto;
        padding-bottom: 0;
    }

    #footer {
        width: auto;
        color: #1d1d1d;
        font-size: .86em;
        line-height: 1.667em;
        text-align: center;
    }
}