@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.ticketContainer {
    position: relative;
    display: flex;
    width: 700px;
    height: 250px;
    border-radius: 10px;
    box-shadow: 0px 0px 210px rgba(238, 236, 236, 0.8);
    font-family: Arial, sans-serif;
    overflow: hidden;
    mask: radial-gradient(20px at 20px 20px,#0000 98%,#000) -20px -20px;
    font-family: Lato, sans-serif;
}

.ticketMain {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff; 
    mask: radial-gradient(20px at 20px 20px,#0000 98%,#000) -20px -20px;
}

.ticketHeader {
    position: relative;
    background-color: #00bcd4;
    color: #fff;
    padding: 0.87em;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.infoContainer {
    position: relative;
    padding: 0.5em 1.5em 0.8em 2.5em;
}

.ticketTitle {
  font-size: 2em;
  font-weight: bold;
  margin-top: 10px;
  color: #777;
}

.ticketDetails {
  display: grid;
  grid-template-columns: 1.8fr 1fr 1fr;
  gap: 12px;
  margin-top: 0.8em;
}


.detailItem p {
  margin: 0;
  font-size: 0.8em;
  color: #888;
}

.detailItem span {
    font-size: 24px;
    font-weight: bold;
    color: #00bcd4;
}

.barcodeContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 2em;
}

.ticketBarcode {
    display: flex;
    align-items: center;
    margin-top: 0.5em;
}

.ticketBarcode img {
    width: 10em;
    height: 3em;
    background-color: #ccc;
}

.ticketBarcode p {
    font-size: 12px;
    margin-top: 5px;
    color: #888;
}

.admitOne {
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    color: #555;
}

.filmStripImg {
    position: absolute;
    width: 98%;
    bottom: 0;
    left: 1%;
    opacity: 0.06;
}
.filmStripImg img {
    display: block;
    width: 100%;
    height: auto;
}

.ticketSeparator {
    position: relative;
    mask: radial-gradient(20px at 20px 20px,#0000 98%,#000) -20px -20px;
}

.ticketStub {
    flex: 1;
    background-color: #f8f8f8;
    border-left: 2px dashed #ccc;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    mask: radial-gradient(20px at 20px 20px,#0000 98%,#000) -20px -20px;
}

.stubHeader {
    padding: 1.25em;
    text-align: center;
    background-color: #00bcd4;
}
.stubHeader span {
    font-size: 2.1em;
    font-weight: bold;
    color: #fff;
}
.stubDetails {
    padding: 0 20px 20px 20px;
}
.stubDetails > .ticketTitle {
    margin: 0.5em 0;
    text-align: center;
}

.stubDetails p {
    margin: 0;
    font-size: 14px;
    color: #555;
}

.stubDetails span {
    font-weight: bold;
    color: #00bcd4;
}

.stubTitle {
    font-size: 1.5em;
    font-weight: bold;
    margin: 10px 0;
    color: #777;
  }

.ticketNumber {
    text-align: center;
}

.expiredStamp {
    position: absolute;
    top: 36%;
    left: 40%;
    border: 5px solid #ff0000;
    border-radius: 0.45em;
    color: #ff0000;
    font-size: 3em;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 0.5em 0.6em;
    opacity: 0.7;
    transform: rotate(-25deg);
    z-index: 10;
}
