@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.ticketContainer {
    position: relative;
    display: flex;
    width: 100%;
    width: 700px;
    height: 250px;
    border-radius: 10px;
    box-shadow: 0px 0px 210px rgba(238, 236, 236, 0.8);
    font-family: 'Lato', Arial, sans-serif;
    overflow: hidden;
    mask: radial-gradient(20px at 20px 20px,#0000 98%,#000) -20px -20px;
    margin: 0 auto;
}

.ticketMain {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff; 
    mask: radial-gradient(20px at 20px 20px,#0000 98%,#000) -20px -20px;
}

.ticketHeader {
    position: relative;
    background-color: #00bcd4;
    color: #fff;
    padding: 0.87em;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.infoContainer {
    position: relative;
    padding: 0.5em 1.5em 0.8em 2.5em;
}

.ticketTitle {
  font-size: 2em;
  font-weight: bold;
  margin-top: 10px;
  color: #777;
}

.ticketDetails {
  display: grid;
  grid-template-columns: 1.8fr 1fr 1fr;
  gap: 12px;
  margin-top: 0.8em;
}


.detailItem p {
  margin: 0;
  font-size: 0.8em;
  color: #888;
}

.detailItem span {
    font-size: 24px;
    font-weight: bold;
    color: #00bcd4;
}

.barcodeContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 2em;
}

.ticketBarcode {
    display: flex;
    align-items: center;
    margin-top: 0.5em;
}

.ticketBarcode img {
    width: 10em;
    height: 3em;
    background-color: #ccc;
}

.ticketBarcode p {
    font-size: 12px;
    margin-top: 5px;
    color: #888;
}

.admitOne {
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    color: #555;
}

.filmStripImg {
    position: absolute;
    width: 98%;
    bottom: 0;
    left: 1%;
    opacity: 0.06;
}
.filmStripImg img {
    display: block;
    width: 100%;
    height: auto;
}

.ticketSeparator {
    position: relative;
    mask: radial-gradient(20px at 20px 20px,#0000 98%,#000) -20px -20px;
}

.ticketStub {
    flex: 1;
    background-color: #f8f8f8;
    border-left: 2px dashed #ccc;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    mask: radial-gradient(20px at 20px 20px,#0000 98%,#000) -20px -20px;
}

.stubHeader {
    padding: 1.25em;
    text-align: center;
    background-color: #00bcd4;
}
.stubHeader span {
    font-size: 2.1em;
    font-weight: bold;
    color: #fff;
}
.stubDetails {
    padding: 0 20px 20px 20px;
}
.stubDetails > .ticketTitle {
    margin: 0.5em 0;
    text-align: center;
}

.stubDetails p {
    margin: 0;
    font-size: 14px;
    color: #555;
}

.stubDetails span {
    font-weight: bold;
    color: #00bcd4;
}

.stubTitle {
    font-size: 1.5em;
    font-weight: bold;
    margin: 10px 0;
    color: #777;
  }

.ticketNumber {
    text-align: center;
}

.expiredStamp {
    position: absolute;
    top: 36%;
    left: 40%;
    border: 5px solid #ff0000;
    border-radius: 0.45em;
    color: #ff0000;
    font-size: 3em;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 0.5em 0.6em;
    opacity: 0.7;
    transform: rotate(-25deg);
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.5);
}

.deleteButton {
    position: absolute;
    top: 44%;
    right: 42%;
    background-image: linear-gradient(to right, #5f3f3f 0%, #e74c3c  51%, #5f3f3f  100%);
    display: block;
    padding: 0.8em 1.1em;
    text-align: center;
    font-size: 1.4em;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 10px #eee;
    border-radius: 0.3em;
    border: none;
    z-index: 100;
    opacity: 0;
    transform: scale(0.8);
    visibility: hidden;
}

.deleteButton:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.activeButton {
    opacity: 1;
    transform: scale(1);
    visibility: visible;
    transition-delay: 0s;
}

.hoverOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 50;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0s linear 0.3s;
    visibility: hidden;
}

.activeOverlay {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
}

/* Responsive Design */
@media (max-width: 600px) {
    .ticketContainer {
        width: 100%;
        max-width: 600px;
        height: auto;
        min-height: 80px;
    }

    .ticketMain {
        width: 100%;
    }

    .infoContainer {
        padding: 0.4em 0.7em 0.6em 1em;
    }
    
    .ticketHeader {
        font-size: 22px;
        padding: 0.87em;
    }
    
    .ticketTitle {
        font-size: 1.5em;
        margin-top: 0;
    }
    
    .ticketDetails {
        grid-template-columns: 1fr 1fr;
        gap: 8px;
    }
    
    .detailItem span {
        font-size: 16px;
    }

    .barcodeContainer {
        padding-right: 0.2em;
    }
    
    .ticketBarcode img {
        width: 8em;
        height: 2.5em;
    }
    
    .stubHeader span {
        font-size: 1.6em;
    }
    
    .stubTitle {
        font-size: 1.2em;
    }

    .stubDetails {
        padding: 0 10px 10px 15px
    }
    
    .expiredStamp {
        font-size: 2em;
        top: 30%;
        left: 35%;
    }
    .admitOne {
        font-size: 1em;
        margin-left: 0.1em;
    }
    
    .deleteButton {
        font-size: 1.1em;
        padding: 0.6em 0.8em;
        top: 40%;
        right: 35%;
    }
}

@media (max-width: 400px) {
    .ticketContainer {
        width: 100%;
        max-width: 400px;
        min-height: 50px;
    }
    
    .ticketHeader {
        font-size: 19px;
        padding: 0.8em;
    }
    
    .ticketTitle {
        font-size: 1.3em;
        margin-top: 8px;
    }
    
    .ticketDetails {
        gap: 6px;
        margin-top: 0.6em;
    }
    
    .detailItem p {
        font-size: 0.7em;
    }
    
    .detailItem span {
        font-size: 15px;
    }
    
    .infoContainer {
        padding: 0.4em 1em 0.6em 0.5em;
    }
    
    .ticketBarcode {
        margin-top: 0.3em;
    }
    
    .ticketBarcode img {
        width: 6em;
        height: 2em;
    }
    
    .ticketBarcode p {
        font-size: 10px;
    }
    
    .admitOne {
        font-size: 1em;
    }
    
    .stubHeader {
        padding: 1em;
    }
    
    .stubHeader span {
        font-size: 1.4em;
    }
    
    .stubDetails {
        padding: 0 15px 15px 15px;
    }
    
    .stubTitle {
        font-size: 1.1em;
        margin: 8px 0;
    }
    
    .stubDetails p {
        font-size: 12px;
    }
    
    .expiredStamp {
        font-size: 1.8em;
        top: 25%;
        left: 30%;
        padding: 0.4em 0.5em;
    }
    
    .deleteButton {
        font-size: 1em;
        padding: 0.5em 0.7em;
        top: 35%;
        right: 30%;
    }
}
