
.changePasswordForm {
    background: linear-gradient(#f3f0f0, #d4d7db, #f3f0f0);
    padding: 1.2em;
    border-radius: 8px;
    margin-top: 20px;
    color: #fff;
    max-width: 15em;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.changePasswordForm h3 {
    text-align: center;
    margin-bottom: 20px;
    color: #000000;
    font-size: 1.2em;
}

.formGroup {
    margin-bottom: 10px;
}

.formGroup label {
    display: none;
}

.formGroup input {
    width: 100%;
    padding: 6px 8px;
    border-radius: 4px;
    border: 1px solid #555;
    background-color: #dcdbdb;
    font-size: 1.1em;
    color: #000000;
}

.formGroup input.errorInput {
    border-color: #fc0105;
}

.errorText {
    color: #fc0105;
    font-size: 0.85em;
    margin-top: 5px;
    display: block;
}

.buttonGroup {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.confirmButton {
    display: block;
    padding: 0.5em 1em;
    text-align: center;
    font-size: 1.1em;
    transition: 0.5s;
    background-size: 200% auto;
    box-shadow: 0 0 20px #eee;
    border-radius: 0.3em;
    border: none;
    background-image: linear-gradient(to right, #3b8717 0%, #a8e063  51%, #3b8717  100%);
    color: #333;
}

.confirmButton:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}
