.mainScreen {
    min-height: 100vh;
    text-align: center;
    padding: 1em;
}

.mainScreen h1 {
    color: #fff;
    margin-bottom: 30px;
}

.adminContent {
    margin-top: 20px;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 5px;
    min-height: 400px;
}